section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

nav {
  padding: 10px 25%;
  margin-bottom: 50px;
  background-color: rgb(80, 80, 80);
  text-align: center;
  
}

nav a {
  display:  inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(224, 224, 224);
  font-weight: lighter;
}

nav a:hover {
  color: white;
}

@media screen and (min-width: 600px) { 
  nav .title {
    margin-right: 60% ;
  }
}
