<form (submit)="onSubmit(); assignmentForm.reset()"
      ngForm #assignmentForm class="form">
  <mat-form-field>
    <mat-label>Nom du devoir à ajouter</mat-label>

    <input matInput [(ngModel)]="nomDevoir"
           name="nom"
           >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date de rendu</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <button mat-stroked-button
           color="primary">
      Ajouter un devoir
    </button>
</form>
